
.elpstext {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.elpstext1 {
  display: -webkit-box;
  width: 220px;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


.elpstext2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}