.elps {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elps1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }